@charset "UTF-8";

@font-face {
	font-family: NanumGothicWebR;
	font-style: normal;
	font-weight: 400;
	src: url('/booking/font/NanumGothicRegular.woff') format('woff')
}

a {
	text-decoration: none;
}

body, header, section, div {
	font-family: NanumGothicWebR;
}

body {
	background: #444444;
	margin: 0;
}

#viewport {
	background: #eeeeee;
	width: 600px;
	margin: 0px auto;
}

#gnb {
	height: 50px;
	background: #5ECB6B;
}

#gnb>div {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	color: white;
}

#logo {
	float: left;
	margin-left: 20px;
	cursor: pointer;
}

#my-reservation {
	float: right;
	margin-right: 20px;
	cursor: pointer;
}

#btn-top {
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	border: none;
	font-size: 15px;
	color: darkgrey;
	cursor: pointer;
	height: 50px;
	width: 570px;
	margin: 5px auto;
}

footer {
	padding: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 15px;
	color: grey;
}

.copyright, .infoPolicy {
	color: #5d5d5d;
	font-weight: 600;
}